html {
    margin: 0;
    background: aquamarine;
    height: 100%;
    width: 100%;
}

body {
    height: 98%;
    width: 99%;
}

.title {
    text-align: center;
    color: black;
}

#main {
    margin: 0px;
    width: calc(100%-10px);
    height: 85%;
}

#content {
    text-align: left;
    position: relative;
    content: "";
    background: snow;
    display: block;

    border: 1px solid black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 15px;
    
    width: calc(100% - 20% - 20%); /* = 100% - margin-right - margin-left*/
    height: 90%;
    box-sizing: border-box;

    overflow-y: auto;
    overflow-wrap: break-word;
}

.chat {
    text-align: center;
    position: relative;
    background: snow;
    border: 1px solid black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 2em;
}

#sendzone {
    margin-top: 10px;
    margin-right: 20%; /* = #content.margin-right*/
    margin-left: 20%; /* = #content.margin-left*/
}

#username {
    width: 10%;
}

#noidung {  
    width: calc(100% - 10px - 45px);
    text-align: center;
}

#send {
    width: 45px
}

.chat#send:hover {
    background: aliceblue;
}

#alert p {
    margin-top: 12px;
    margin-bottom: 2px;
}

.QueueMessage {
    color: gray;
}

/*=================================*/

details#list {
    border: 1px solid black;
    border-radius: 4px;
    padding: .5em .5em 0;
    display: block;
    position: absolute;
    padding-right: 30px;
    width: 10%;
    background: snow;
}

#list summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details#list[open] {
    width: 16%; /* < #content.margin-right*/
    padding: .5em;
    height: 72%;
}

details#list[open] summary {
    margin-bottom: .5em;
}

/*=================================*/

details#custom {
    margin-top: 2rem;
    border: 1px solid black;
    border-radius: 4px;
    padding: .5em .5em 0;
    display: block;
    position: sticky;
    
    width: 12%; /* < #content.margin-right*/
    background: snow;
}

#custom summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details#custom[open] {
    padding: .5em;
    height: 100%;
    width: 92%;
    margin-left: 2%;
    margin-right: 2%;

    overflow-wrap: break-word;
    overflow-y: auto;
}

details#custom[open] summary {
    margin-bottom: .5em;
}

/*=================================*/

#ScrollButton {
    position: absolute; 
    text-align: center; 
    margin-left: calc(80% - 5px);
    margin-top: -2%;
}